---
---
$grid: #38c016;
$link: #ff0;

body {
	color: white;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12pt;
	background: url('/assets/coolgreen2.webp') #000;
	margin: 0;
}

a {
	color: $link;
	text-decoration: none;

	&:hover { text-decoration: underline; }
	&:active { color: darken($link, 17%); }
}

p {
	line-height: 1.5;
}

.container {
	max-width: 960px;
	margin: 15px auto;

	background: rgba(7,7,7,0.85);
	padding: 10px;
	border: 2px solid $grid;
}

img {
	max-width: 100%;
}
